@model EuroManager.WorldSimulator.Presentation.Web.Models.TournamentResultsModel

@{
    ViewBag.Title = "Latest Results";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>EuroManager.</h1>
                <h2>A realistic football world simulation.</h2>
            </hgroup>
        </div>
    </section>
}

<div>
    @using (Html.BeginForm())
    {
        <div>
            Date: @Model.CurrentDate.ToLongDateString()

            @if (Model.AllowAdvanceDate)
            {
                <input type="submit" value="Advance" />
                @Html.LabelFor(m => m.AdvanceByMonth, "By month")
                @Html.EditorFor(m => m.AdvanceByMonth)
            }
        </div>
    }
</div>
<ul>
    @foreach (var tournamentResults in Model.TournamentResults)
    {
        <li>
            @tournamentResults.Tournament.Name

            <ul>
                @foreach (var matchResult in tournamentResults.MatchResults)
                {
                    <li>
                        @matchResult.Team1Name &mdash; @matchResult.Team2Name
                        <strong>@matchResult.Score1 : @matchResult.Score2</strong>
                        @Html.ActionLink("Details", "MatchResult", new { resultId = matchResult.Id })
                    </li>
                }
            </ul>

            <div>
                <table>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Team</td>
                            <td>Played</td>
                            <td>W</td>
                            <td>D</td>
                            <td>L</td>
                            <td>Pts</td>
                            <td>Goals</td>
                        </tr>
                    </thead>

                    @{
                        int position = 1;

                        foreach (var teamStats in tournamentResults.TeamStats)
                        {
                            <tr>
                                <td><strong>@position</strong></td>
                                <td><strong>@teamStats.TeamName</strong></td>
                                <td>@teamStats.Played</td>
                                <td>@teamStats.Wins</td>
                                <td>@teamStats.Draws</td>
                                <td>@teamStats.Losses</td>
                                <td><strong>@teamStats.Points</strong></td>
                                <td>@teamStats.GoalsFor-@teamStats.GoalsAgainst</td>
                            </tr>
                        
                            position++;
                        }
                    }
                </table>
            </div>
        </li>
    }
</ul>