@model EuroManager.WorldSimulator.Presentation.Web.Models.TournamentResultsModel

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>EuroManager.</h1>
                <h2>A realistic football world simulation.</h2>
            </hgroup>
        </div>
    </section>
}

<div>
    @using (Html.BeginForm())
    {
        <div>
            Date: @Model.CurrentDate.ToLongDateString()
            <input type="submit" value="Advance" />
        </div>
    }
</div>
<ul>
    @foreach (var tournamentResults in Model.TournamentResults)
    {
        <li>
            @tournamentResults.Tournament.Name

            <ul>
                @foreach (var matchResult in tournamentResults.MatchResults)
                {
                    <li>@matchResult.Team1Name - @matchResult.Team2Name <strong>@matchResult.Score1 : @matchResult.Score2</strong>
                    </li>
                }
            </ul>

            <div>
                <table>
                    <thead>
                        <tr>
                            <td>Team</td>
                            <td>Points</td>
                        </tr>
                    </thead>
                    @foreach (var teamStats in tournamentResults.TeamStats)
                    {
                        <tr>
                            <td>@teamStats.TeamName</td>
                            <td>@teamStats.Points</td>
                        </tr>
                    }
                </table>
            </div>
        </li>
    }
</ul>