@model EuroManager.WorldSimulator.Presentation.Web.Models.TournamentResultsModel

@{
    ViewBag.Title = "Latest Results";
}

<h2>Recent results</h2>

@foreach (var tournamentResults in Model.TournamentResults)
{
    <div class="row">
        <div class="span4">
            <h4>@tournamentResults.Tournament.Name</h4>
            <ul>
                @foreach (var matchResult in tournamentResults.MatchResults)
                {
                    <li>
                        @matchResult.Team1Name &mdash; @matchResult.Team2Name
                        <strong>@matchResult.Score1 : @matchResult.Score2</strong>
                        @Html.ActionLink("Details", "MatchResult", new { resultId = matchResult.Id })
                    </li>
                }
            </ul>
        </div>
        <div class="span8">
            <table>
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Team</td>
                        <td>Played</td>
                        <td>W</td>
                        <td>D</td>
                        <td>L</td>
                        <td>Pts</td>
                        <td>Goals</td>
                    </tr>
                </thead>

                @{
                    int position = 1;

                    foreach (var teamStats in tournamentResults.TeamStats)
                    {
                        <tr>
                            <td><strong>@position</strong></td>
                            <td><strong>@teamStats.TeamName</strong></td>
                            <td>@teamStats.Played</td>
                            <td>@teamStats.Wins</td>
                            <td>@teamStats.Draws</td>
                            <td>@teamStats.Losses</td>
                            <td><strong>@teamStats.Points</strong></td>
                            <td>@teamStats.GoalsFor-@teamStats.GoalsAgainst</td>
                        </tr>
                        
                        position++;
                    }
                }
            </table>
        </div>
    </div>
}