<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - EuroManager</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    @Html.ActionLink("EuroManager", "Index", "Home", null, new { @class = "brand" })
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="divider-vertical"></li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li class="divider-vertical"></li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <div class="pull-right">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="span3">
                </div>
                <div class="span9">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            </div>
            <div class="row">
                <p>&copy; 2012-@DateTime.Now.Year by Rafał Barszczewski</p>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
