@using EuroManager.WorldSimulator.Presentation.Web.Helpers;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>EuroManager - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    @Html.ActionLink("EuroManager", "Index", "Home", null, new { @class = "brand" })
                    <ul class="nav">
                        @Html.NavigationLink("Home", "Index", "Home")
                        @Html.NavigationLink("About", "About", "Home")
                        @Html.NavigationLink("Contact", "Contact", "Home")
                    </ul>
                    <div class="pull-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
        <header class="hero-unit page-header">
            <div class="container">
                <h1>EuroManager <small>A realistic football world simulation</small></h1>
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        <div class="row">
            <div class="container">
                <p>&copy; 2012-@DateTime.Now.Year by Rafał Barszczewski</p>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
