@using EuroManager.WorldSimulator.Presentation.Web.Helpers;
@using EuroManager.WorldSimulator.Presentation.Web.Models;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>EuroManager - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    @Html.ActionLink("EuroManager", "Index", "Home", null, new { @class = "brand" })
                    <ul class="nav">
                        @Html.NavigationLink("Start", "Index", "Home")
                        @Html.NavigationLink("Results", "", "")
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                World
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                @Html.NavigationLink("Competitions", "", "")
                                @Html.NavigationLink("Teams", "", "")
                                @Html.NavigationLink("Players", "", "")
                                @Html.NavigationLink("Transfers", "", "")
                                @Html.NavigationLink("Rankings", "", "")
                            </ul>
                        </li>
                        @if (User.IsInRole(UserRole.Administrator))
                        {
                            <li class="dropdown active">
                                <a class="dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
                                    Admin
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    @Html.NavigationLink("Advance date", "", "")
                                    @Html.NavigationLink("Advance by month", "", "")
                                </ul>
                            </li>
                        }
                    </ul>
                    <div class="pull-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <form class="navbar-search pull-right">
                      <input type="text" class="search-query" placeholder="Search">
                    </form>
                    <div class="pull-right">
                        <ul class="nav">
                            <li class="active"><a>@Html.Action("WorldDate", "Home")</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header class="hero-unit page-header">
            <div class="container">
                <h1>
                    EuroManager
                    <small>A realistic football world simulation</small>
                    @Html.ActionLink("Learn more", "About", null, new { @class = "btn btn-success btn-large" })
                </h1>
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        <div class="row">
            <div class="container">
                <p>&copy; 2012-@DateTime.Now.Year by Rafał Barszczewski</p>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
