@model TeamModel

@{
    ViewBag.Title = "Team: " + Model.Team.Name;
}

<h2>@ViewBag.Title</h2>

<p>Strategy: @Model.Team.Strategy</p>

<div class="span8">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td title="Position">Pos</td>
                <td>Name</td>
                <td title="Defensive skills">Def</td>
                <td title="Offensive skills">Off</td>
                <td>Form</td>
                <td title="Played">Pl</td>
                <td title="Goals">Gl</td>
                <td title="Assists">As</td>
                <td title="Average rating">Rating</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in @Model.Players.OrderBy(p => p.Position))
            {
                var stats = @Model.PlayerStats.Single(s => s.Id == player.Id);
            
                <tr>
                    <td>@player.Position</td>
                    <td><strong>@player.Name</strong></td>
                    <td>@player.DefensiveSkills</td>
                    <td>@player.OffensiveSkills</td>
                    <td>@player.Form</td>
                    <td>@stats.Played</td>
                    <td>@stats.Goals</td>
                    <td>@stats.Assists</td>
                    <td><strong>@stats.Rating.ToString("n2")</strong></td>
                </tr>
            }
        </tbody>
    </table>
</div>