@model EuroManager.WorldSimulator.Presentation.Web.Models.MatchResultModel

@using EuroManager.WorldSimulator.Services.Data

@{
    ViewBag.Title = "Match Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <div>
        <strong>
            @Html.TeamLink(Model.Result.Team1Id, Model.Result.Team1Name)
            @Model.Result.Score1 : @Model.Result.Score2
            @Html.TeamLink(Model.Result.Team2Id, Model.Result.Team2Name)
        </strong>
    </div>
    <div>
        @GoalScorers(Model.Result.Goals1) &mdash; @GoalScorers(Model.Result.Goals2)
    </div>

    @PlayerStats(Model.Result.Team1Id, Model.Result.Team1Name, Model.Result.PlayersStats1)
    @PlayerStats(Model.Result.Team2Id, Model.Result.Team2Name, Model.Result.PlayersStats2)

    @helper GoalScorers(IEnumerable<Goal> goals)
    {
        @String.Join(", ", goals.Select(FormatGoalInfo))
    }

    @functions
    {
        private string FormatGoalInfo(Goal goal)
        {
            if (goal.Extended > 0)
            {
                return String.Format("{0} {1}+{2}", goal.ScorerName, goal.Minute, goal.Extended);
            }
            else
            {
                return String.Format("{0} {1}", goal.ScorerName, goal.Minute);
            }
        }
    }

    @helper PlayerStats(int teamId, string teamName, IEnumerable<PlayerMatchStats> playerStats)
    {
        <div class="span3">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>@Html.TeamLink(teamId, teamName)</th>
                        <th title="Goals">Gl</th>
                        <th title="Assists">As</th>
                        <th title="Rating">Rat</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in playerStats)
                    {
                        <tr>
                            <td>@player.PlayerName</td>
                            <td>@player.Goals</td>
                            <td>@player.Assists</td>
                            <td>@player.Rating</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
