@model EuroManager.WorldSimulator.Presentation.Web.Models.MatchResultModel

@using EuroManager.WorldSimulator.Services.Data

@{
    ViewBag.Title = "Match Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="row">
        <table class="span6">
            <tr class="match-result">
                <td class="home">
                    @Html.TeamLink(Model.Result.Team1Id, Model.Result.Team1Name)
                </td>
                <td class="result">
                    <a href="@Url.Action("Match", "Results", new { id = Model.Result.Id })">
                        @Model.Result.Score1&nbsp;:&nbsp;@Model.Result.Score2
                    </a>
                </td>
                <td class="away">
                    @Html.TeamLink(Model.Result.Team2Id, Model.Result.Team2Name)
                </td>
            </tr>
            <tr class="goal-scorers">
                <td class="home">
                    @Html.GoalScorers(Model.Result.Goals1)
                </td>
                <td>
                </td>
                <td class="away">
                    @Html.GoalScorers(Model.Result.Goals2)
                </td>
            </tr>
        </table>
    </div>

    @PlayerStats(Model.Result.Team1Id, Model.Result.Team1Name, Model.Result.PlayersStats1)
    @PlayerStats(Model.Result.Team2Id, Model.Result.Team2Name, Model.Result.PlayersStats2)

    @helper PlayerStats(int teamId, string teamName, IEnumerable<PlayerMatchStats> playerStats)
    {
        <div class="span3">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>@Html.TeamLink(teamId, teamName)</th>
                        <th title="Goals">Gl</th>
                        <th title="Assists">As</th>
                        <th title="Rating">Rat</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in playerStats)
                    {
                        <tr>
                            <td>@player.PlayerName</td>
                            <td>@player.Goals</td>
                            <td>@player.Assists</td>
                            <td>@player.Rating</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
