@model TournamentResultsModel

@{
    ViewBag.Title = "Recent results";
}

<h2>@ViewBag.Title</h2>

@foreach (var tournamentResults in Model.TournamentResults)
{
    <div class="row">
        <div class="span5">
            <h4>@tournamentResults.Tournament.Name</h4>
            <ul>
                @foreach (var matchResult in tournamentResults.MatchResults)
                {
                    <li>
                        @Html.TeamLink(matchResult.Team1Id, matchResult.Team1Name)
                        &mdash;
                        @Html.TeamLink(matchResult.Team2Id, matchResult.Team2Name)
                        <strong>@matchResult.Score1 : @matchResult.Score2</strong>
                        @Html.ActionLink("Details", "MatchResult", "Results", new { resultId = matchResult.Id }, null)
                    </li>
                }
            </ul>
        </div>
        <div class="span7">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Team</td>
                        <td title="Played">P</td>
                        <td title="Points">Pts</td>
                        <td title="Wins">W</td>
                        <td title="Draws">D</td>
                        <td title="Losses">L</td>
                        <td>Goals</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int position = 1;

                        foreach (var teamStats in tournamentResults.TeamStats)
                        {
                            <tr>
                                <td><strong>@position</strong></td>
                                <td><strong>@Html.TeamLink(@teamStats.TeamId, @teamStats.TeamName)</strong></td>
                                <td>@teamStats.Played</td>
                                <td><strong>@teamStats.Points</strong></td>
                                <td>@teamStats.Wins</td>
                                <td>@teamStats.Draws</td>
                                <td>@teamStats.Losses</td>
                                <td>@teamStats.GoalsFor-@teamStats.GoalsAgainst</td>
                            </tr>
                        
                            position++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
