@model IEnumerable<EuroManager.WorldSimulator.Services.Data.MatchResult>

<table>
    @foreach (var matchResult in Model)
    {
        <tr class="match-result">
            <td class="home">
                @Html.TeamLink(matchResult.Team1Id, matchResult.Team1Name)
            </td>
            <td class="result">
                <a href="@Url.Action("Match", "Results", new { id = matchResult.Id })">
                    @matchResult.Score1&nbsp;:&nbsp;@matchResult.Score2
                </a>
            </td>
            <td class="away">
                @Html.TeamLink(matchResult.Team2Id, matchResult.Team2Name)
            </td>
        </tr>
        <tr class="goal-scorers">
            <td class="home">
                @Html.GoalScorers(matchResult.Goals1)
            </td>
            <td>
            </td>
            <td class="away">
                @Html.GoalScorers(matchResult.Goals2)
            </td>
        </tr>
    }
</table>
