@model TournamentResultsModel

@{
    ViewBag.Title = "Tournament Results";
}

<h2>@ViewBag.Title</h2>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            @foreach (var tournament in Model.Tournaments)
            {
                @Html.MenuItem(tournament.Name, "Tournament", "Results", new { id = tournament.Id },
                    isActive: tournament.Id == Model.SelectedTournamentId)
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="span6">
        <h4>@Html.TournamentLink(Model.Results.Tournament.Id, Model.Results.Tournament.Name)</h4>
        @Html.Partial("TournamentMatchResults", Model.Results.MatchResults)
    </div>
    <div class="span6">
        @Html.Partial("TournamentStandings", Model.Results.Standings)
    </div>
</div>

<div class="row">
    <div class="span4">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th title="Position">Pos</th>
                    <th>Top scorers</th>
                    <th>Team</th>
                    <th title="Goals">G</th>
                    <th title="Assists">A</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stats in Model.Ratings.TopScorers)
                {
                    <tr>
                        <td>@stats.Position</td>
                        <td><strong>@stats.Name</strong></td>
                        <td>@Html.TeamLink(stats.TeamId, stats.TeamShortName)</td>
                        <td><strong>@stats.Goals</strong></td>
                        <td>@stats.Assists</td>
                        <td>@stats.Rating.ToString("n2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="span4">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th title="Position">Pos</th>
                    <th>Top assistants</th>
                    <th>Team</th>
                    <th title="Goals">G</th>
                    <th title="Assists">A</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stats in Model.Ratings.TopAssistants)
                {
                    <tr>
                        <td>@stats.Position</td>
                        <td><strong>@stats.Name</strong></td>
                        <td>@Html.TeamLink(stats.TeamId, stats.TeamShortName)</td>
                        <td>@stats.Goals</td>
                        <td><strong>@stats.Assists</strong></td>
                        <td>@stats.Rating.ToString("n2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="span4">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th title="Position">Pos</th>
                    <th>Top rating</th>
                    <th>Team</th>
                    <th title="Goals">G</th>
                    <th title="Assists">A</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stats in Model.Ratings.TopRating)
                {
                    <tr>
                        <td>@stats.Position</td>
                        <td><strong>@stats.Name</strong></td>
                        <td>@Html.TeamLink(stats.TeamId, stats.TeamShortName)</td>
                        <td>@stats.Goals</td>
                        <td>@stats.Assists</td>
                        <td><strong>@stats.Rating.ToString("n2")</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>