@model IEnumerable<EuroManager.WorldSimulator.Services.Data.TeamStats>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Team</th>
            <th title="Played">P</th>
            <th title="Points">Pts</th>
            <th title="Wins">W</th>
            <th title="Draws">D</th>
            <th title="Losses">L</th>
            <th>Goals</th>
        </tr>
    </thead>
    <tbody>
        @{
            int position = 1;

            foreach (var teamStats in Model)
            {
                <tr>
                    <td><strong>@position</strong></td>
                    <td><strong>@Html.TeamLink(@teamStats.TeamId, @teamStats.TeamName)</strong></td>
                    <td>@teamStats.Played</td>
                    <td><strong>@teamStats.Points</strong></td>
                    <td>@teamStats.Wins</td>
                    <td>@teamStats.Draws</td>
                    <td>@teamStats.Losses</td>
                    <td>@teamStats.GoalsFor-@teamStats.GoalsAgainst</td>
                </tr>
                        
                position++;
            }
        }
    </tbody>
</table>