@model TeamModel

@{
    ViewBag.Title = "Team: " + Model.Team.Name;
}

<h2>Team: @Html.TeamLink(Model.Team.Id, Model.Team.Name)</h2>

<p>Strategy: @Model.Team.Strategy</p>

<div class="span8">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th title="Position">Pos</th>
                <th>Name</th>
                <th title="Defensive skills">Def</th>
                <th title="Offensive skills">Off</th>
                <th>Form</th>
                <th title="Played">Pl</th>
                <th title="Goals">Gl</th>
                <th title="Assists">As</th>
                <th title="Average rating">Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in @Model.Players.OrderBy(p => p.Position))
            {
                var stats = @Model.PlayerStats.Single(s => s.Id == player.Id);
            
                <tr>
                    <td>@player.Position</td>
                    <td><strong>@player.Name</strong></td>
                    <td>@player.DefensiveSkills</td>
                    <td>@player.OffensiveSkills</td>
                    <td>@player.Form</td>
                    <td>@stats.Played</td>
                    <td>@stats.Goals</td>
                    <td>@stats.Assists</td>
                    <td><strong>@stats.Rating.ToString("n2")</strong></td>
                </tr>
            }
        </tbody>
    </table>
</div>